.main {
    background-image: url("https://img.freepik.com/free-photo/silhouette-tree-against-moody-sky-generated-by-ai_188544-22440.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.text{color: orangered;}
.btn{background-color: orangered;}
