.main {
    background-image: url("https://img.freepik.com/free-photo/anxiety-induced-by-dark-forest_23-2150981901.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    width: 100%;
}
.header_main Link{

}
.theway {
    /* color: orangered; */
}

.text {
    color: orangered;
}

.hpbtn {
    background-color: orangered;
}

.body {
    color: white;
    padding: 10%;
}

.card {
    background-size: cover;
    justify-content: space-between;
}

.cardimage img {
    height: 30vh;

    
}

.maincard .cardimage {
    display: flex;
    justify-content: space-between;
}

.yoga {
    margin-right: 53%;
}

.input {
    height: 7vh;
    width: 30px;
}

.input-form-search input{
    height: 45px;
    /* width: 100px !important; */
    margin-top: 10px;
}
#Homepage_login{
  /* background-color:white; */
  margin-right: 140px;
  font-size: large;
}